.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

button {
  margin: 0 auto;
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
}
body {
  background: red;
  color: #fff;
}

.button_container {
display: flex;
margin-top: 20px;
}

#myImage {
  border-radius: 25px;
}



